<% content_for 'title' do %>
  About us
<% end %>

<h1>Ask a Question</h1>

<%= form_tag do %>
  <%= field_set_tag 'Information' do %>
    <p>
      <%= label_tag 'name', 'Name:' %>
      <%= text_field_tag 'name', @name, class: 'input', placeholder: 'Enter a name', size: 50 %>
    </p>

    <p>
      <%= label_tag 'email', 'Email Address:' %>
      <%= email_field_tag 'email', @email, placeholder: 'Enter an email', size: 64 %>
    </p>

    <p>
      <%= label_tag 'age', 'Age:' %>
      <%= number_field_tag 'age', @age, placeholder: 'Enter your age', min: 10, max: 20 %>
    </p>

    <p>
      <%= label_tag 'product', 'product:' %>
      <%#= select_tag 'product', options_for_select( @products.map { |value| [value, value]}, @selected_product) %>
      <%= select_tag 'product', options_for_select( @products, @selected_product) %>
    </p>
 
    <p>
      <%= label_tag 'food_salad', 'Salad' %>
      <%= radio_button_tag 'food', 'salad', @food == 'salad' %>

      <%= label_tag 'food_main', 'Main' %>
      <%= radio_button_tag 'food', 'main', @food == 'main' %>

      <%= label_tag 'food_dessert', 'Dessert' %>
      <%= radio_button_tag 'food', 'dessert', @food == 'dessert' %>
    </p>

    <p>
      <%= label_tag 'comments', 'Comments:' %>
      <%= text_area_tag 'comments', @comments %>
    </p>

    <p><%= submit_tag 'Submit your question' %></p>
  <% end %>
<% end %>

<% @products.each do |key, value| %>
  <%= key.to_s + ' ' + value.to_s %>
<% end %>

<% if params[:commit] != nil %>
  <%= show_params %>
<% end %>